@using DataAccess.Domain
@model MapModels.ViewModels.PostVM.PostVM
<!--TinyMCE config-->
<script src="https://cdn.tiny.cloud/1/apriqfhqbc9aqsm8233qtq2pno04fgouj36ijdsr9nvhstqt/tinymce/5/jquery.tinymce.min.js" referrerpolicy="origin"></script>
<script src="https://cdn.tiny.cloud/1/apriqfhqbc9aqsm8233qtq2pno04fgouj36ijdsr9nvhstqt/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: '#Content',
        //skin_url: "../../Scripts/tinymce/skins/ui/KM LIBRARY",
        //content_css: "../../Scripts/tinymce/skins/content/KM LIBRARY",
        plugins: 'advlist anchor autolink autosave autoresize charmap code codesample directionality emoticons fullscreen help hr image imagetools importcss insertdatetime link lists media nonbreaking noneditable pagebreak paste preview print save searchreplace tabfocus table textpattern toc visualblocks visualchars wordcount',
        toolbar: 'undo redo styleselect | bullist numlist | outdent indent | media table | forecolor backcolor | bold italic underline | alignleft aligncenter alignright alignjustify | fontselect fontsizeselect ',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
    });
</script>
<!--TinyMCE config-->
@{
    ViewData["Title"] = "Create new blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h1 class="oleez-page-title wow fadeInUp">Create new Blog</h1>
    <h5 class="wow fadeInUp text-secondary">Tell us your story</h5>
    <hr/>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" method="post" enctype="multipart/form-data" id="createForm">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <span class="text-danger">
                    @ViewBag.NotFound
                    @ViewBag.ExceptionMessage
                </span>
                <input asp-for="ParentId" class="form-control" hidden="hidden" />
                <input asp-for="UserId" class="form-control" hidden="hidden" />

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="MetaTitle" class="control-label"></label>
                            <input asp-for="MetaTitle" class="form-control" />
                            <span asp-validation-for="MetaTitle" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Slug" class="control-label"></label>
                            <input asp-for="Slug" class="form-control" />
                            <span asp-validation-for="Slug" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Summary" class="control-label"></label>
                    <input asp-for="Summary" class="form-control" />
                    <span asp-validation-for="Summary" class="text-danger"></span>
                </div>

                <input class="form-check-input" asp-for="IsVideoPost" hidden="hidden" />
                <input asp-for="CreatedAt" class="form-control" hidden="hidden" />
                <input asp-for="UpdatedAt" class="form-control" hidden="hidden" />
                <input asp-for="PublishedAt" class="form-control" hidden="hidden" />

                <div class="row">
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" asp-for="Published" checked />
                            <label class="custom-control-label" for="Published">
                                <span>Post with status: <span class="badge badge-success">Published</span> ?</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="custom-control custom-checkbox">
                            <input class="custom-control-input" asp-for="IsDeleted" />
                            <label class="custom-control-label" for="IsDeleted">
                                <span>Post with status: <span class="badge badge-danger">Deleted</span> ?</span>
                            </label>
                        </div>
                    </div>
                </div>
                <hr />
                <br />
                <div class="form-group">
                    <label asp-for="Content" class="control-label"></label>
                    <textarea asp-for="Content" class="form-control"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="MinutesSpentForReading" class="control-label"></label>
                            <div class="input-group">
                                <input asp-for="MinutesSpentForReading" class="form-control" type="number" />
                                <div class="input-group-prepend">
                                    <div class="input-group-text">minutes</div>
                                </div>
                            </div>

                            <span asp-validation-for="MinutesSpentForReading" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label class="control-label">@Html.DisplayNameFor(model => model.Thumbnail)</label>
                            <div class="custom-file">
                                <label asp-for="Thumbnail" class="custom-file-label" for="Thumbnail">Choose file...</label>
                                <input type="file"
                                       accept=".png,.jpg,.jpeg,.gif,.tif"
                                       asp-for="Thumbnail"
                                       id="Thumbnail"
                                       class="custom-file-input"
                                       style="border:0px!important; padding: 0px;padding-top: 10px;padding-bottom: 30px;" />
                                <span asp-validation-for="Thumbnail" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="control-label">Preview</label>
                    <hr />
                    <article class="blog-post wow fadeInUp">
                        @if (Model.Thumbnail != null)
                        {
                            <img class="post-thumbnail"
                             id="cover-thumbnail"
                             style="width:100%; height:auto; object-fit:cover"
                             src="data:image/*;base64,@(Convert.ToBase64String(Model.Thumbnail))">
                        }
                        else
                        {
                            <img class="post-thumbnail"
                             id="cover-thumbnail"
                             style="width:100%; height:auto; object-fit:cover"
                             src="~/ImageDefault/BlogThumbnail/post_thumbnail_default.jpg">
                        }
                        <p class="post-date" id="createdAtDOM"></p>
                        <h4 class="post-title" id="titleDOM">Title here</h4>
                        <p class="post-excerpt" id="summaryDOM">Summary here</p>
                        <p href="#!" class="post-permalink">READ MORE</p>
                    </article>
                    <hr />
                </div>
 @*               <br />
                <br />
                <div class="row">
                    <h3 class="control-label">Select post's' categories</h3>
                </div>
                <div class="d-flex align-content-center flex-wrap">
                    @foreach (Category item in (List<Category>)ViewBag.CategoriesSelect)
                    {
                        <div class="card m-2">
                            <div class="card-body rounded">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="cate_@item.Id" data-cateId="@item.Id" />
                                    <label class="custom-control-label" for="cate_@item.Id">@item.Title</label>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                 <br />
                <br />
                <div class="row">
                    <h3 class="control-label">Select post's' tags</h3>
                </div>
                <div class="d-flex align-content-center flex-wrap">
                    @foreach (Tag item in (List<Tag>)ViewBag.TagsSelect)
                    {
                        <div class="card m-2">
                            <div class="card-body rounded">
                                <div class="custom-control custom-checkbox">
                                    <input class="custom-control-input" type="checkbox" id="tag_@item.Id" data-tagId="@item.Id" />
                                    <label class="custom-control-label" for="tag_@item.Id">@item.Title</label>
                                </div>
                            </div>
                        </div>
                    }
                </div>*@
                <div class="form-group">
                    <input type="submit" value="Post this blog!" class="btn btn-primary btn-lg btn-block" />
                    <a asp-action="Index" class="btn btn-outline-secondary btn-lg btn-block">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>



<script>
    $('#Title').on('change', function() {
       console.log('title changed');
      document.getElementById('titleDOM').innerHTML = this.value;
    });

    $('#Summary').on('change', function() {
       console.log('summary changed');
      document.getElementById('summaryDOM').innerHTML = this.value;
    });

    document.getElementById('createdAtDOM').innerHTML = new Date().toDateString();
    document.getElementById('CreatedAt').value = new Date();

    $('#Thumbnail').on('change', function(){
        document.getElementById('cover-thumbnail').src = window.URL.createObjectURL(this.files[0])
    });

</script>
